
.line {
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
            
.plotline {
    stroke-width: 1.4;
    fill: none;
}

#stats {
	margin: 0 auto;
	width: 35%;
}
 
text {
    font-family: Sans-serif;
    font-size: 12px;
}

#container2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 1100px;
}

#recent_blocks {
    clear: both;
    float: left;
    margin-bottom: 70px;
    text-align: center;
    width: 40%;
}

#local_workers {
    float: right;
    text-align: center;
    margin-bottom: 70px;
    width: 60%;
}

#address_column {
	text-align: left;
}

#share_info {
    text-align: left;
    float: right;
    width: 48%;
}

#local_info {
    float: left;
    width: 48%;
}

#tracker_input {
    /*position: relative;
    left: -104px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;*/
    width: 60%;
}
td {
    font-size: small
}
#footer {
    position: fixed;
    background: #f8f8f8;
    border-top: 1px solid;
	border-color: #e7e7e7;
    width: 100%;
    height: 30px;
    bottom: 0;
}
#donate {
    position: fixed;
	bottom: 5px;
    left: 10px;
}

#credit {
   position: fixed;
   bottom: 5px;
   right: 130px; 
}

#tothetop {
    position: fixed;
	bottom: 5px;
    right: 10px;
}

#worker_header {
    position: relative;
    left: -60px;
}
